<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create blog post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>So you want to create a blog post ey? Well go ahead...</h1>
    <form class= form_container action=# method="POST">
        <div class="form_content">
            <label for="author">Name:</label><br>
            <input type="text" id="author" name="author"><br>
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="content">Add your blog here:</label><br>
            <input type="text" id="content" name="content"><br>
            <div class="button_box"><input class=button type="submit" value="Submit"></div>
        </div>
    </form>
</body>
</html>